@import "../../general.scss";

.settings {
  button {
    width: 4rem;
    height: 4rem;
    background-color: $main-titleColor;
    color: white;
    &:hover {
      background-color: $primary-textColor;
    }
    svg {
      font-size: 2rem;
    }
  }
}
