@import "../../general.scss";

.dialogTitle {
  h2 {
    font-size: 1.7rem;
    color: $main-titleColor;
    font-weight: bold;
  }
}

.dialogButtons {
  button {
    font-size: 1.5rem;
    color: $main-titleColor;
    font-weight: bold;
  }
}
