@import "../../general.scss";

@keyframes dotsMove {
  0%,
  100% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0);
  }
}

.signUpContainer {
  width: 50%;
  padding: 4rem;
  margin: 0 auto 5rem auto;
  box-shadow: 0 0 1.3rem #514949;
  border-radius: $main-borderRadius;
  background-color: $modal-bgColor;
}

.formContainer {
  margin-top: 2rem;
  input,
  button {
    padding: 1.5rem 1rem;
    box-sizing: border-box;
    font-size: 1.8rem;
    border-radius: 1rem;
  }

  button {
    width: 50%;
    background-color: $primary-bgColor;
    color: white;
    &:hover {
      background-color: $primary-bgHoverColor;
    }
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
  }
  div {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  input {
    width: 100%;
    background-color: #f5f6f7;
    border: 0.1rem solid #d5c3c3;
    &:focus {
      outline: none;
      border: 0.2rem solid $primary-bgColor;
    }
  }
  a {
    color: $primary-bgColor;
    font-weight: bold;
  }
}

.signUpContainer {
  h1 {
    font-size: 4rem;
    color: $primary-textColor;
  }
  h1,
  p {
    margin: 1.2rem 0;
  }
}

.header {
  padding: 2rem;
  img {
    cursor: pointer;
    width: 10rem;
  }
}

.signUpButtonCont {
  button {
    position: relative;
    overflow: hidden;
    span::after {
      content: "...";
      position: absolute;
      left: 87%;
      font-size: 3rem;
      top: 0;
      animation: dotsMove 1s infinite;
    }
  }
}

.birthDateContainer {
  input {
    color: #757d8e;
  }
  label {
    align-self: start;
    padding: 0.5rem;
  }
}

.errors {
  color: rgb(115, 10, 10);
}

.genderContainer {
  label {
    font-size: 1.7rem;
  }
  .gender {
    display: flex;
    flex-direction: row;

    span {
      font-size: 1.6rem;
    }
  }
}

@media (max-width: 70rem) {
  .signUpContainer {
    width: 70%;
    margin-top: 3rem;
  }

  .header {
    text-align: center;
    img {
      width: 13rem;
    }
  }

  .formContainer {
    button {
      font-weight: bold;
      width: 30%;
    }
  }
}

@media (max-width: 70rem) {
  .formContainer {
    button {
      width: 45%;
      padding: 1rem;
    }
  }
}

@media (max-width: 30rem) {
  .signUpContainer {
    border-radius: 0.05rem;
    h1 {
      font-size: 2.5rem;
    }
  }

  .formContainer {
    button {
      width: 68%;
      padding: 0.5rem;
    }
  }
  .header {
    text-align: center;
    img {
      width: 10rem;
    }
  }
}
