@import "../../general.scss";
.commentCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.commentCont svg:hover {
  box-shadow: inset -1rem 1.1rem 10rem 0.3rem #dfd8d8;
}

.commentMessage {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 3rem;
  width: 100%;
}

.textarea {
  width: 95%;
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: $main-borderRadius;
  resize: none;
  outline: none;
  background-color: #fff;
  box-shadow: 0 0 1rem #dfded8;
  transition: border-color 0.2s;
  font-size: $main-fontSize;
}

.ratePart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: $main-fontSize;
  color: $main-titleColor;
}

.sendIcon svg {
  cursor: pointer;
  transition: all 0.2s;
  font-size: 2.5rem;
  color: $main-titleColor;
}
