@import "../general.scss";

.board {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1.8rem;
  padding: 3rem 1.5rem;
  box-shadow: 0.2rem 0.3rem 1rem 0.2rem $board-boxShadow;
  background-color: $post-bgColor;
  border-radius: 2rem;
  color: $primary-textColor;
  a {
    text-decoration: none;
  }
}

.disabled {
  opacity: 0.4;
}
