@import "../../general.scss";

.post {
  width: 70%;
  height: 32rem;
  display: flex;
  gap: 2rem;
  margin: 0 auto;
  background-color: #edf1f6;
  border-radius: 1rem;
  transition: all 0.2s;
  &:hover {
    background-color: #e3e7ec;
  }
  span {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    gap: 0.5rem;
    svg {
      font-size: 2.5rem;
    }
  }
}

.postImg {
  width: 50%;
  text-align: center;
  img {
    width: 100%;
    height: 100%;
    transition: all 0.3s;
  }
  svg {
    font-size: 31rem;
    color: #55445e;
  }
}

.postInfo {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding: 2rem 0.5rem;
  color: #333;
  span {
    color: $main-titleColor;
  }

  span:first-of-type {
    font-weight: bold;
    font-size: 1.8rem;
  }

  .category {
    color: $primary-bgHoverColor;
    font-weight: bold;
  }
}
