@import "../../general.scss";
.pagination {
  margin-top: 5rem;

  ul {
    justify-content: center;
  }

  li {
    width: 3.5rem;
    height: 3.5rem;
    div,
    svg,
    button {
      font-size: 1.7rem;
      color: $main-titleColor;
      font-weight: bold;
    }

    button {
      padding: 0.5rem;
      &:hover {
        background-color: $primary-bgHoverColor;
        color: white;
        box-shadow: 0 0 1.5rem $primary-boxShadow;
      }
    }
  }
}

.pagination .currentPage {
  color: white;
  background-color: $primary-bgHoverColor;
  span {
    color: white;
  }
}
